@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="featured-product">
    <div class="title">SẢN PHẨM ĐẶC TRƯNG</div>
    <div class="list-product">
        <div class="box first">
            <a href="#">
                <div class="picture"><img src="~/Content/images/products/dress/1.png" /></div>
            </a>
            <div class="name"><a href="#">ĐÂY LÀ TÊN SẢN PHẨM</a></div>
            <div class="price">999.999 VNĐ</div>
            <div class="bottom">
                <div class="bleft"><a href="#">Mua ngay</a></div>
                <div class="bright"><a href="#">Thêm vào giỏ hàng</a></div>
            </div>
        </div>
        <div class="box second">
            <a href="#">
                <div class="picture"><img src="~/Content/images/products/dress/2.png" /></div>
            </a>
            <div class="name"><a href="#">ĐÂY LÀ TÊN SẢN PHẨM</a></div>
            <div class="price">999.999 VNĐ</div>
            <div class="bottom">
                <div class="bleft"><a href="#">Mua ngay</a></div>
                <div class="bright"><a href="#">Thêm vào giỏ hàng</a></div>
            </div>
        </div>
        <div class="box second">
            <a href="#">
                <div class="picture"><img src="~/Content/images/products/dress/3.jpg" /></div>
            </a>
            <div class="name"><a href="#">ĐÂY LÀ TÊN SẢN PHẨM</a></div>
            <div class="price">999.999 VNĐ</div>
            <div class="bottom">
                <div class="bleft"><a href="#">Mua ngay</a></div>
                <div class="bright"><a href="#">Thêm vào giỏ hàng</a></div>
            </div>
        </div>
        <div class="box last">
            <a href="#">
                <div class="picture"><img src="~/Content/images/products/dress/4.png" /></div>
            </a>
            <div class="name"><a href="#">ĐÂY LÀ TÊN SẢN PHẨM</a></div>
            <div class="price">999.999 VNĐ</div>
            <div class="bottom">
                <div class="bleft"><a href="#">Mua ngay</a></div>
                <div class="bright"><a href="#">Thêm vào giỏ hàng</a></div>
            </div>
        </div>
    </div>

</div>
<div id="featured-product">
    <div class="title">SALE OFF</div>
    <div class="list-product">
        <div class="box first">
            <a href="#">
                <div class="picture"><img src="~/Content/images/products/perfume/sp1.jpg" /></div>
            </a>
            <div class="name"><a href="#">ĐÂY LÀ TÊN SẢN PHẨM</a></div>
            <div class="price">999.999 VNĐ</div>
            <div class="bottom">
                <div class="bleft"><a href="#">Mua ngay</a></div>
                <div class="bright"><a href="#">Thêm vào giỏ hàng</a></div>
            </div>
        </div>
        <div class="box second">
            <a href="#">
                <div class="picture"><img src="~/Content/images/products/perfume/sp2.jpg" /></div>
            </a>
            <div class="name"><a href="#">ĐÂY LÀ TÊN SẢN PHẨM</a></div>
            <div class="price">999.999 VNĐ</div>
            <div class="bottom">
                <div class="bleft"><a href="#">Mua ngay</a></div>
                <div class="bright"><a href="#">Thêm vào giỏ hàng</a></div>
            </div>
        </div>

        <div class="box second">
            <a href="#">
                <div class="picture"><img src="~/Content/images/products/perfume/sp3.jpg" /></div>
            </a>
            <div class="name"><a href="#">ĐÂY LÀ TÊN SẢN PHẨM</a></div>
            <div class="price">999.999 VNĐ</div>
            <div class="bottom">
                <div class="bleft"><a href="#">Mua ngay</a></div>
                <div class="bright"><a href="#">Thêm vào giỏ hàng</a></div>
            </div>
        </div>
        <div class="box last">
            <a href="#">
                <div class="picture"><img src="~/Content/images/products/perfume/4.png" /></div>
            </a>
            <div class="name"><a href="#">ĐÂY LÀ TÊN SẢN PHẨM</a></div>
            <div class="price">999.999 VNĐ</div>
            <div class="bottom">
                <div class="bleft"><a href="#">Mua ngay</a></div>
                <div class="bright"><a href="#">Thêm vào giỏ hàng</a></div>
            </div>
        </div>
    </div>
</div>
<div id="banner">
    <img src="~/Content/images/banner/banner.jpeg" />
</div>
<div id="top">
    <div class="box box-1">
        <div class="title">Sản phẩm bán chạy nhất</div>
        <div class="line">
        </div>
        <div class="list-box">
            <div class="box-info">
                <div class="bi-image"><img src="~/Content/images/products/11.jpg" /></div>
                <div class="bi-left">
                    <div class="bi-name"><a href="#">đây là tên sản phẩm</a>    </div>
                    <div class="bi-price">999 999 VNĐ</div>
                    <div class="bi-stat"><p>Còn hàng</p></div>
                </div>
            </div>
            <div class="box-info">
                <div class="bi-image"><img src="~/Content/images/products/12.jpg" /></div>
                <div class="bi-left">
                    <div class="bi-name"><a href="#">đây là tên sản phẩm</a>    </div>
                    <div class="bi-price">999 999 VNĐ</div>
                    <div class="bi-stat"><p>Còn hàng</p></div>
                </div>
            </div>
            <div class="box-info">
                <div class="bi-image"><img src="~/Content/images/products/13.png" /></div>
                <div class="bi-left">
                    <div class="bi-name"><a href="#">đây là tên sản phẩm</a>    </div>
                    <div class="bi-price">999 999 VNĐ</div>
                    <div class="bi-stat"><p>Còn hàng</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-2">
        <div class="title">sản phẩm mới</div>
        <div class="line"></div>
        <div class="list-box">
            <div class="box-info">
                <div class="bi-image"><img src="~/Content/images/products/11.jpg" /></div>
                <div class="bi-left">
                    <div class="bi-name"><a href="#">đây là tên sản phẩm</a>    </div>
                    <div class="bi-price">999 999 VNĐ</div>
                    <div class="bi-stat"><p>Còn hàng</p></div>
                </div>
            </div>
            <div class="box-info">
                <div class="bi-image"><img src="~/Content/images/products/12.jpg" /></div>
                <div class="bi-left">
                    <div class="bi-name"><a href="#">đây là tên sản phẩm</a>    </div>
                    <div class="bi-price">999 999 VNĐ</div>
                    <div class="bi-stat"><p>Còn hàng</p></div>
                </div>
            </div>
            <div class="box-info">
                <div class="bi-image"><img src="~/Content/images/products/13.png" /></div>
                <div class="bi-left">
                    <div class="bi-name"><a href="#">đây là tên sản phẩm</a>    </div>
                    <div class="bi-price">999 999 VNĐ</div>
                    <div class="bi-stat"><p>Còn hàng</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-3">
        <div class="title">Sản phẩm của tuần</div>
        <div class="line"></div>
        <div class="list-box">
            <div class="box-info">
                <div class="bi-image"><img src="~/Content/images/products/11.jpg" /></div>
                <div class="bi-left">
                    <div class="bi-name"><a href="#">đây là tên sản phẩm</a>    </div>
                    <div class="bi-price">999 999 VNĐ</div>
                    <div class="bi-stat"><p>Còn hàng</p></div>
                </div>
            </div>
            <div class="box-info">
                <div class="bi-image"><img src="~/Content/images/products/12.jpg" /></div>
                <div class="bi-left">
                    <div class="bi-name"><a href="#">đây là tên sản phẩm</a>    </div>
                    <div class="bi-price">999 999 VNĐ</div>
                    <div class="bi-stat"><p>Còn hàng</p></div>
                </div>
            </div>
            <div class="box-info">
                <div class="bi-image"><img src="~/Content/images/products/13.png" /></div>
                <div class="bi-left">
                    <div class="bi-name"><a href="#">đây là tên sản phẩm</a>    </div>
                    <div class="bi-price">999 999 VNĐ</div>
                    <div class="bi-stat"><p>Còn hàng</p></div>
                </div>
            </div>
        </div>
    </div>
    <div id="line"></div>
</div>
<div id="post">
    <div id="title">Bài đăng gần đây</div>
    <div class="line"></div>
    <div id="left">
        <div class="post-box">
            <div class="picture"><img src="~/Content/images/post/post-1.png" /></div>
            <div class="title"><a href="#">Đây là tiêu đề</a></div>
            <div class="description">Dành cho em dành cho em niềm đam mê tuyệt vời Mà anh muốn nắm lấy trong giấc mơ. Dành cho em dành cho em niềm đam mê tuyệt vờ</div>
        </div>
    </div>
    <div id="right">
        <div class="post-box">
            <div class="picture"><img src="~/Content/images/post/post-2.png" /></div>
            <div class="title"><a href="#">đây là tiêu đề</a></div>
            <div class="description">Dành cho em dành cho em niềm đam mê tuyệt vời Mà anh muốn nắm lấy trong giấc mơ. Dành cho em dành cho em niềm đam mê tuyệt vờ</div>
        </div>
    </div>
</div>

@*<script src="https://code.jquery.com/jquery-1.12.3.js"></script>*@
@*<script>
    $(document).ready(function () {
        var width = $("img").width;
        var height = $("img").height;
        if (width >= height) {
            $("img").css("width", "auto");
            $("img").css("height", "100%");
            $("img").css("display", "block");
        }
        else {
            $("img").css("width", "100%");
            $("img").css("height", "auto");
            $("img").css("display", "block");
        }
    });
</script>*@