@model IEnumerable<ClothesStore1.Models.Product>

@foreach(var item in Model)
{
    
}
<div class="box first">
    <a href="#">
        <div class="picture"><img src="~/Content/images/products/dress/1.png" /></div>
    </a>
    <div class="name"><a href="#">ĐÂY LÀ TÊN SẢN PHẨM</a></div>
    <div class="price">999.999 VNĐ</div>
    <div class="bottom">
        <div class="bleft"><a href="#">Mua ngay</a></div>
        <div class="bright"><a href="#">Thêm vào giỏ hàng</a></div>
    </div>
</div>