@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model ClothesStore1.Models.Category

<div id="right">
    <div class="line-top"></div>
    <div class="title">Thông tin</div>
    <div class="line-bottom"></div>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(mode => Model.CategoryId)
        <div class="label">Tên danh mục: </div>
        @Html.DisplayFor(model => model.CategoryName)
        <br>
        <input type="button" value="Trở về" onclick="window.history.back()"  />
        <input type="submit" value="Xác nhận" />
        }
    </div>